/* Primary Colors */
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$blue: hsl(212, 86%, 64%);
$orange: hsl(34, 97%, 64%);

/* Neutral Colors */
$dark-blue-700: hsl(234, 12%, 34%);
$grayish-blue-400: hsl(229, 6%, 66%);
$light-gray-200: hsl(0, 0%, 98%);

/* Typography */
$text-font-stack: "Poppins", sans-serif !default;
